.esconder{
	transition: all .7s;
	opacity: 0.001;
}
.Up{
	transform: translateY(25%);
}
.Down{
	transform: translateY(-25%);
}
.Left{
	transform:translateX(25%);
}
.Right{
	transform: translateX(-25%);
}
.show{
	opacity: 1;
	transform: none;
}