
/*------------------Geneeral------------------*/
* {
    margin: 0;
    padding: 0;
}

/*Header de la pagina*/
header.header {
    background-position: center center;
}

/*Redes*/
.redes {
    margin-bottom: 20px;
}

.redes img{
    width: 35px;
    margin: 0 20px;
}

a.name{
    width: 23%;
    font-size: 2em;
    color: orange;
    text-transform: lowercase;
}

/*Resaltador*/
i.frase, .resaltador {
    color: #8dc7e0;
}


/*Encabezado de la pagina Blog*/
.blogHeader {
    max-height: 70vh;
    height: 50vh;
    background-image: url(../img/Blog/Capa\ 1.png);
}

/*------------Principal----------------*/
/*Header Main*/
.header-main {
    margin-bottom: 10vh;
}

/*titulos*/
.header-main h2 {
    width: 105%;
    margin-bottom: 15px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.header-main h3 {
    width: 105%;
    color: #8dc7e0;
    text-transform: capitalize;
}

/*--------------Contenido Principal-----------------*/
/*Titulo de seccion*/
.content-section h2.title-section {
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*Contenido de la seccion*/
.content-section p{
    font-size: 1.2em;
    line-height: 1em;
}

/*Tags Sections*/
.content-section .tags {
    margin: 10px 0;
}

.content-section .tags .tag {
    color: #8dc7e0;
    margin: 0 5px;
    padding: 10px;
    font-size: 1.3em;
    text-transform: capitalize;
    border-radius: 50%;
    transition: .3s ease .1s;
}

.tags .tag:hover {
    background-color: #8dc7e0;
    color: gray!important;
    cursor: pointer;
}

/*Footer section*/
.content-section .footer-section {
    position: absolute;
}

.footer-section p {
    position: relative;
}

.autor {
    margin-bottom: 3px;
}

.read-more {
    width: 80%;
    top: -35px;
    left: 200%;
    padding: 2px 3px 2px 4px;
    border: 4px solid orange;
    color: orange;
    font-weight: bold;
    text-transform: uppercase;
    transition: .3s ease .1s;
}

.read-more:hover {
    background-color: orange;
    color: white;
}

/*----------------Filtros de contenido--------------------*/
.filters {
    width: 100%;
}

.filters .filter-title {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 3vh;
}

.filters a.btn-filter {
    width: 75%;
    margin-bottom: 3px;
    background-color: #8dc7e0;
}

.filters a.btn-filter:nth-child(4) {
    margin-bottom: 10px;
}

/*-------------Resto del contenido--------------*/
.secundario {
    padding: 5vh;
}

.secundario:nth-child(2n) {
    background-color: #fff2db;
}

.secundario section img.image-section {
    width: 30%;
}

.secundario h2.title-section {
    margin-left: 10px;
}

.secundario .footer-section p.read-more {
    left: 250%;
}


/*-------------------Pagination----------------*/
.pagination a.active {color: #b3e8ff;}
.pagination a:not(.active){
    color:gray;
}

.pagination {
    background-color: white;
    margin-bottom: 40px;
}

.pagination a{
    color: #8dc7e0;
    padding: 8px 16px;
    transition: background-color .3s;
    margin: 15px 5px;
    border-radius: 40%;
    font-size: 1.3em;
}

.pagination a:hover {
    background-color: #8dc7e0;
    color: gray;
}

/*-------------FOOTER MAIN----------*/

/*----------------------------------------------------*/
/*-----------------Mis Productos----------------------*/
/*----------------------------------------------------*/

/*-----------------Header----------------------------*/
.indexMyProducts {
    height: 100vh;
    max-height: 120vh;
    background-image: url(../img/MisProductos/background-header.png);
}

/*-----------------header footer---------------------*/

/*name*/
header footer.footer-header .name {
    color: white;
    font-size: 1.5em;
}

/*---------------------Main Mis Productos---------------------*/
/*-------Seccion - Quien soy---------*/
section.whoami {
    background-color: black;
    position: relative;
    height: 1100px;
    max-height: 1150px;
}

/*Imagen*/
img.img-position1,img.img-position2 {
	position: absolute;
	width: 33%;
}

img.img-position1 {
	top: 50px;
	left: 150px;
}

img.img-position2 {
	bottom: 0;
	right: 150px;
}

/*hgroups*/
.content-whoami .first-hgroup-whoami h1,
.content-whoami .second-hgroup-whoami h1 {
    color: orange;
}

.first-hgroup-whoami h1 {
    font-size: 3em;
    text-transform: uppercase;
    margin: 8vh auto 2vh auto;
}

.first-hgroup-whoami h2 {
    color:white;
    text-transform: initial;
    font-size: 1.5em;
    margin: 0 auto 4vh auto;
}

.second-hgroup-whoami h1 {
	width: 75%;
	margin-left: 10vh;
	font-size: 3em;
	text-align: left;
}

.second-hgroup-whoami h1 span.resaltador {
	letter-spacing: 5px;
	font-size: .8em;
	margin-left: 10vh;
}

/*content-whoami*/
.content-whoami p.parrafo {
    width: 80%;
    color: white;
    font-size: 1.2em;
    margin-bottom: 15px;
}

/*------------Seccion Datos--------------*/
section.datos {
    background-image: url(../img/MisProductos/background1.png);
    background-position: center center;
    padding: 50px 0;
    height: 400px;
}

section.datos p.frase, section.datos p span{
    text-shadow: 0 0 5px black;
    font-size: 2.5em;
    font-weight: bold;
}

section.datos p.frase {
    color: orange;
    text-transform: uppercase;
    margin-bottom: 10px;
}

section.datos p span {
    color: white;
    text-transform: none;
}