
:root{
    
}
header{
    width: 100%;
    height: 100vh;
    /*background-image: url(../img/bg.jpg);*/
    background-position: center center;
    background-size: cover;
    position: relative;
}

.header-blog {
    height: 60vh;
    background-image: url('../img/Capa 1.png');
    background-position: center 80%;
}

.menu-btn{
	position: relative;
	justify-content:center;
	align-items:center;
	width: 40px;
	height: 40px;
	cursor: pointer;
    margin-top: 45px;
}

.btn-burger{
	width: 30px;
	height: 2px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255,101,47,.2);
}

.btn-burger::before,
.btn-burger::after{
	content: '';
	position: absolute;
	width: 30px;
	height: 2px;	
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255,101,47,.2);

}

.btn-burger::before{
	transform: translateY(-9px);
}

.btn-burger::after{
	transform: translateY(9px);
}

.logo{
    margin-top: 20px;
}
.active{
    color: #db780e;
}
.bgText{
    position: absolute;
    bottom: 10%;
    left: 25%;
    text-align: center;
}
.bgText h2{
    font-size: 6em;
    color: #db780e;
    letter-spacing: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bgText p{
    font-size: 35px;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.articleImg{
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: 1s ease;
}

.articleImg:hover{
    filter: grayscale();
}
.articleIcon{
   position: absolute;
   bottom: 0;
   left: 0;
   width: 75px;
   height: 75px;
}
.sectionTitle{
    color: #db780e;
    text-transform: uppercase;
    font-size: 2em;
    margin-left: -75px;
}
.title{
    letter-spacing: 10px;
    text-transform: uppercase;
}

.moreBooks{
    font-size: 2em;
    color: #8dc7e0;
    text-transform: uppercase;
}
.a{
    margin: 100px 0 0 45px;
}

.contact{
    width: 100%;
    height: 100vh;
    background-color: #222222;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction:column;
    overflow: hidden;
}

.contactTitle{
    color: #db780e;
    text-transform: uppercase;
    font-size: 2.5em;
}

.formEImg{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}
.imgContact{
    width: 45%;
}
.imgNigga{
    width: 100%;
}

.form{
    width: 45%;
    
}

@media screen and (max-width: 1000px){
    
    .bgText h2{
        font-size: 3em;
    }
    .bgText p{
        font-size: 25px;
    }
    .articleImg{
        width: 100%;
    }
    .sectionTitle{
        margin-top: 25px;
        font-size: 1.5em;
        margin-left: 0;
    }
    .moreBooks{
        font-size: 1.5em;
        margin-top: 30px;
    }
    .imgContact{
        display: none;
    }
    .form{
        width: 90%;
        margin-top: 10%;
        margin-left: 11%;
    }
    .contact{
        display: block;
    }
    .articleIcon{
       bottom: 34%;
    }

    .contact{
        height: 90vh;
    }
        
}

@media screen and (max-width: 600px){
    
    .bgText h2{
        font-size: 2em;
    }
    .bgText p{
        font-size: 18px;
    }
    .articleIcon{
       bottom: 46%;
    }
}

@media screen and (max-width: 500px){
    .articleIcon{
        bottom: 47%;
     }
}
@media screen and (max-width: 400px){
    .articleIcon{
        bottom: 55%;
     }
}

@media screen and (max-width: 350px){
    .articleIcon{
        bottom: 65%;
     }
}

/*header-main*/
.header-main {
    height: 100%;
    margin-bottom: 100px;
}

/*Sections*/
.title-section {
    font-size: 2em;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 10px;
}

.info-section {
    width: 90%;
    font-size: 1.2em;
    line-height: 1;
    margin: 0;
    margin-bottom: 7px;
}

section .tags {
    margin: 0 auto;
}

section .tag {
    font-size: 1.3em;
    color: gray;
    margin: 0 10px;
}

.footer-section {
    position: absolute;
    line-height: 1;
    margin: 0 auto;
}

.footer-section p {
    position: relative;
}

.footer-section p.read-more{
    top: -55px;
    left: 50vh;
    padding: 2px 8px 2px 4px;
    border: 5px solid orange;
    color: orange;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: bold;
}

.footer-section p.read-more:hover {
    background-color: orange;
    color: white;
    cursor: pointer;
    transition: 0.4s ease 0.2s;
    /*-moz-transition: -moz-transform 1s ease-in-out 0.5s;
    -webkit-transition: -webkit-transform 1s ease-in-out 0.5s;*/
}

/*filters*/
.filters {
    width: 100%;
    margin: 0 auto;
}

.filters .filter-title {
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 1.8em;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 3px;
}

.filters .btn-filter{
    width: 100%;
    margin: 2px auto;
}

.filters .btn-filter[3] {
    margin-bottom: 100px;
    color: black;
}